body{
    font-family: sans-serif;
    overflow-x: hidden;
}

.ww{
    position: absolute;
    right: 2em;
}

.ww__icon{
    height: 3em;
}

.ww__aantal{
    position: absolute;
    top: -.3em;
    left: 3.9em;
    background-color: red;
    color: white;
    width: 1em;
    line-height: 1em;
    padding: .5em;
    text-align: center;
    border-radius: 2em;
    font-size: .6em;
}

#boeken{
    clear: both;
}

.boek {
    padding: 1em;
    clear: left;
}

.boek__cover{
    float: left;
    max-width: 150px;
}

.boek__info{
    margin-left: 180px;
}

.boek__titel{
    margin-top: 0;
    color: royalblue;
    font-size: 1.5em;
}

.boek__uitgave::after, .boek__ean::after, .boek__taal::after{
    content: " | ";
}

.boek__prijs{
    font-size: 2em;
    color: royalblue;
}

.boek__bestel-knop{
    font-size: .5em;
    float: right;
    display: block;
    text-decoration: none;
    color: red;
    background-color: white;
    padding: .4em 2.5em;
    margin-top: 1em;
    border: 2px solid red;
    border-radius: 1em;
    transition: .5s;
    font-weight: bold;
    margin-right: 1em;
    letter-spacing: .2em;
}

.boek__bestel-knop:hover{
    color: white;
    background-color: red;
}

.filteren__sorteren{
    float: right;
    text-align: right;
}

@media (min-width: 1250px) {
    #boeken{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
    }
    
    .boek:nth-child(4n+2), .boek:nth-child(4n+3) {
        background-color: #DCDCDC;
    }
}